body, html {
  height: 100%;
  background-color: black;
}

.bg { 
  background-image: url("../images/background.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color:white;
}

label {
    color:white;
}